{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "formatter": "eslint-pretty-formatter",
  "rules": {
    "space-before-function-paren": [2, "never"],
    "react/prop-types": [0],
    "comma-dangle": [2, "always-multiline"]
  },
  "globals": {
    "document": false,
    "window": false,
    "ScrollMagic": false,
    "TimelineLite" : false,
    "TimelineMax" : false,
    "TweenLite" : false,
    "TweenMax" : false,
    "Back" : false,
    "Bounce" : false,
    "Circ" : false,
    "Cubic" : false,
    "Ease" : false,
    "EaseLookup" : false,
    "Elastic" : false,
    "Expo" : false,
    "Linear" : false,
    "Power0" : false,
    "Power1" : false,
    "Power2" : false,
    "Power3" : false,
    "Power4" : false,
    "Quad" : false,
    "Quart" : false,
    "Quint" : false,
    "RoughEase" : false,
g   "Sine" : false,
    "SlowMo" : false,
    "SteppedEase" : false,
    "Strong" : false,
    "Draggable" : false,
    "SplitText" : false,
    "VelocityTracker" : false,
    "CSSPlugin" : false,
    "ThrowPropsPlugin" : false,
    "BezierPlugin" : false
  }
}
